{% set settings = __SELF__.getSettings() %}

{% if settings.enable_site_meta %}
<title>{{ include(template_from_string(__SELF__.getTitle())) }}</title>
<meta name="description" content="{{ include(template_from_string(__SELF__.getDescription())) }}" />
{% set canonical = include(template_from_string(__SELF__.getSeoAttribute('canonical_url'))) %}
<link rel="canonical" href="{{ __SELF__.getCanonicalUrl(canonical) }}">
{% endif %}
{% if settings.enable_robots_meta %}
{% set advancedRobots = include(template_from_string(__SELF__.getSeoAttribute('robot_advanced'))) %}
<meta name="robots" content="{{ __SELF__.getRobots(advancedRobots) }}" />
{% endif %}
{% if settings.favicon_enabled %}
<link rel="shortcut icon" href="{{ 'favicon.ico'|app }}" type="image/x-icon">
<link rel="icon" type="image/x-icon" href="{{ 'favicon.ico'|app }}" />
{% endif %}
{% if settings.enable_og %}
{% partial '@social.htm' settings=settings %}
{% endif %}
{% if settings.extra_meta %}
{{ settings.extra_meta|raw }}
{% endif %}
