{% set settings = __SELF__.getSettings() %}

{% if settings.enable_site_meta %}
<title>{{ include(templateFromString(__SELF__.getTitle())) }}</title>
{% if __SELF__.getDescription() %}
<meta name="description" content="{{ include(templateFromString(__SELF__.getDescription())) }}" />
{% endif %}
{% set canonical = include(templateFromString(__SELF__.getSeoAttribute('canonical_url'))) %}
<link rel="canonical" href="{{ __SELF__.getCanonicalUrl(canonical) }}">
{% endif %}
{% if settings.enable_robots_meta %}
{% set advancedRobots = include(templateFromString(__SELF__.getSeoAttribute('robot_advanced'))) %}
<meta name="robots" content="{{ __SELF__.getRobots(advancedRobots) }}" />
{% endif %}
{% if settings.favicon_enabled %}
<link rel="icon" href="{{ favicon.getThumb(32, 32, 'crop') }}" sizes="any" type="{{ favicon.getContentType() }}">
<link rel="apple-touch-icon" href="{{ favicon.getThumb(180, 180, 'crop') }}" type="{{ favicon.getContentType() }}">
{% endif %}
{% if settings.webmanifest_enabled %}
<link rel="manifest" href="/manifest.webmanifest">
{% endif %}
{% if settings.enable_og %}
{% partial '@social.htm' settings=settings %}
{% endif %}
{% if settings.extra_meta %}
{{ settings.extra_meta|raw }}
{% endif %}
