<link rel="shortcut icon" href="{{ settings.favicon.getThumb(100, 100, 'crop') }}" type="image/x-icon">
{#
<link rel="shortcut icon" href="{{ 'favicon.ico'|app }}" type="image/x-icon">
<link rel="icon" type="image/x-icon" href="{{ 'favicon.ico'|app }}" />
<link rel="apple-touch-icon" sizes="57x57" href="https://init.biz/themes/initbiz/assets/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://init.biz/themes/initbiz/assets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://init.biz/themes/initbiz/assets/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://init.biz/themes/initbiz/assets/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://init.biz/themes/initbiz/assets/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://init.biz/themes/initbiz/assets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://init.biz/themes/initbiz/assets/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://init.biz/themes/initbiz/assets/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://init.biz/themes/initbiz/assets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://init.biz/themes/initbiz/assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://init.biz/themes/initbiz/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://init.biz/themes/initbiz/assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://init.biz/themes/initbiz/assets/favicon/favicon-16x16.png">

<link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
<link rel="manifest" href="/manifest.webmanifest">
#}
