<meta property="og:site_name" content="{{ settings.og_site_name }}">
<meta property="og:type" content="{{ include(template_from_string(__SELF__.getOgType())) }}" />
<meta property="og:title" content="{{ include(template_from_string(__SELF__.getOgTitle())) }}" />
<meta property="og:description" content="{{ include(template_from_string(__SELF__.getOgDescription())) }}" />
<meta property="og:image" content="{{ include(template_from_string(__SELF__.getOgImage())) }}" />
{% set canonical = include(template_from_string(__SELF__.getSeoAttribute('canonical_url'))) %}
<meta property="og:url" content="{{ __SELF__.getCanonicalUrl(canonical) }}" />
<meta property="og:locale" content="{{ settings.og_locale }}" />
<meta property="og:video" content="{{ include(template_from_string(__SELF__.getOgVideo())) }}" />
<meta property="og:locale:alternate" content="{{ settings.og_locale_alternate }}" />
<meta property="fb:app_id" content="{{ settings.fb_app_id }}" />
<meta name="twitter:card" content="{{ include(template_from_string(__SELF__.getOgCard())) }}">
<meta name="twitter:title" content="{{ include(template_from_string(__SELF__.getOgTitle())) }}">
<meta name="twitter:description" content="{{ include(template_from_string(__SELF__.getOgDescription())) }}">
<meta name="twitter:image" content="{{ include(template_from_string(__SELF__.getOgImage())) }}" />
