
<meta property="og:type" content="{{ include(template_from_string(viewBag.og_type))  ?: 'website' }}" /> 
<meta property="og:title" content="{{ 
    include(template_from_string(viewBag.og_title ?: viewBag.meta_title )) 
    | default('SEO')
}}" />
<meta property="og:description" content="{{ 
    include(template_from_string(viewBag.og_description ?: viewBag.meta_description )) 
    | default('SEO')
}}" />
<meta property="og:image" content="{{ 
    viewBag.og_ref_image ? include(template_from_string(viewBag.og_ref_image)) | media | url  : "" 
    | default( viewBag.og_image ? ( viewBag.og_image | media | url ) : "" ) 
    | default( settings.site_image ? ( settings.site_image | media | url ) : "" )
}}" />
<meta property="og:url" content="{{ include(template_from_string(viewBag.canonical_url)) | url }}" />
<meta property="og:locale" content="{{ settings.og_locale }}" />
<meta property="fb:app_id" content="{{ settings.fb_app_id }}" />
<meta name="twitter:title" content="{{
    include(template_from_string(viewBag.og_title ?: viewBag.meta_title)) 
    | default(viewBag.title)
}}">
<meta name="twitter:description" content="{{  
    include(template_from_string(viewBag.og_description ?: viewBag.meta_description))
    | default(settings.site_description)
}}">
<meta name="twitter:image" content="{{ 
    viewBag.og_ref_image ? include(template_from_string( viewBag.og_ref_image )) | media | url : "" 
    | default( viewBag.og_image ? ( viewBag.og_image | media | url ) : "" ) 
    | default( settings.site_image ? ( settings.site_image | media | url ) : "" )
}}" />
