{# <script type="application/ld+json"> #}
{
"@context": "http://schema.org",
{% if schema_type %}
"@type": "{{ schema_type }}",
{% endif %}
{% if __SELF__.publisher %}
"publisher": {
{% if __SELF__.publisher.type %}
    "@type": "{{ __SELF__.publisher.type }}"
{% endif %}
{% if __SELF__.publisher.name %}
, "name": "{{ __SELF__.publisher.name }}"
{% endif %}
{% if __SELF__.publisher.url %}
, "url": "{{ __SELF__.publisher.url }}"
{% endif %}
{% if __SELF__.publisher.logo %}
, "logo": "{{ __SELF__.publisher.logo }}"
{% endif %}
{% if __SELF__.publisher.same_as %}
, "sameAs": [
{% for url in  __SELF__.publisher.same_as %}
"{{ url.same_as_url }}"
{% if not loop.last %}
,
{% endif %}
{% endfor %}
]
{% endif %}
}
{% endif %}
}
</script>